<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="../static/css/login-report.css">-->
    <link th:href="@{/css/report.css}" rel="stylesheet">
    <title>Meetagora</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/product/">


    <style>
  form div i {
      margin-left: -30px;
      cursor: pointer;
  }
</style>

</head>

    <body class="bg-purple" style="color: #f4f4f4" >
        <div class="stars">
            <div class="custom-navbar">

                <div class="brand-logo">
                        <img src="https://backend-gkhesykiqa-tl.a.run.app/meetagora-services/gcp/images/meetagora-logo-white.png" width="30%">
                </div>
                
                <div class="buttons-register">
                    <div id="btn-login">
                        <button  data-bs-toggle="modal" data-bs-target="#loginModal">Ingreso administrador </button>
                    </div>
                        <div id="btn-singup">
                            <button data-bs-toggle="modal" data-bs-target="#singupModal" onclick="sendRegistry()">Registrarse</button>
                        </div>
                </div>


            </div>
           
                 
            <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title " id="loginModal">Inicia sesion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div  style="display: flex;width: 70%; margin: auto;">
                    <form style="width: 100%;" action="/login" id="loginForm" method="post">
                        <div>
                            <label>Correo electrónico</label>
                            <input class="form-control" type="text" name="institutionaEmail" id="institutionalEmail">
                        </div>
                        <div>
                            <label for="password" style="padding: 0 !important;">Contraseña </label>
                            <div style="display: flex;padding: 0; margin: 0;">
                            <input class="form-control" type="password" name="password" id="password" />
                            <i class="bi bi-eye-slash" id="togglePassword"></i>
                            </div>
                        </div>
                       
                        <button type="submit" id="submit" class="btn btn-primary mt-4 w-100">
                            Iniciar session
                        </button>
                        <button type="button" class="btn btn-secondary mt-2 mb-3 w-100" data-bs-dismiss="modal">
                            Cancelar
                        </button>
                    </form>
                    </div>
                        
                 
                </div>
              </div>
            </div>

            <div class="modal fade" id="singupModal" tabindex="-1" aria-labelledby="singupModal" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title " id="singupModal">Registrarse</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div  style="display: flex;width: 70%; margin: auto;">
                      <form id="singUpForm" style="width: 100%;">
                          <div>
                              <label>Correo electrónico</label>
                              <input class="form-control" type="text" name="email" id="singUpEmail">
                          </div>
                        
                          <div>
                            <label for="re-password" style="padding: 0 !important;">Contraseña </label>
                            <div style="display: flex;padding: 0; margin: 0;">
                            <input class="form-control" type="password" name="re-password" id="re-password" />
                            <i class="bi bi-eye-slash" id="toggle-re-password"></i>
                            </div>
                        </div>
                        <div>
                            <label>Token seguridad</label>
                            <input class="form-control" type="text" name="email" id="email">
                        </div>
                         
                          <button type="submit" id="submit" class="btn btn-primary mt-4 w-100">
                              Registrarse
                          </button>
                          <button type="button" class="btn btn-secondary mt-2 mb-3 w-100" data-bs-dismiss="modal">
                              Cancelar
                          </button>
                      </form>
                      </div>
                          
                   
                  </div>
                </div>
              </div>


            <main>
                <div style="background-color: transparent;" class="glass position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center ">
                    <div class="col-md-5 p-lg-5 mx-auto my-5">
                        <h1 class="display-4 fw-normal">Meetagora App</h1>
                        <p class="lead fw-normal">Es una aplicación que permite interactuar con tu casa de estudio, podrás registrar asistencia, enviar mensajes a tus compañeros y ubicarte dentro de tu sedes</p>
                        <a style="background-color: whitesmoke" class="btn btn-outline-secondary" href="https://storage.cloud.google.com/front-apk/meetagora-app-release.apk?_ga=2.261872525.-1637623415.1681834021&_gac=1.195830238.1698178407.CjwKCAjw1t2pBhAFEiwA_-A-NP6iCORW89RNY2RbknEMnhOvHDywUi8iE05sff0nY_ke_1f21Tm-2RoCnJ4QAvD_BwE">Descargar</a>
                    </div>
                    <div class="product-device shadow-sm d-none d-md-block">
                        <img src="https://backend-gkhesykiqa-tl.a.run.app/meetagora-services/gcp/images/splash_screen.jpg" width="100%">
                    </div>
                    <div class="product-device product-device-2 shadow-sm d-none d-md-block">
                        <img src="https://backend-gkhesykiqa-tl.a.run.app/meetagora-services/gcp/images/splash_screen.jpg" width="100%">
                    </div>
                </div>

                <div class=" d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
                    <div class="glass me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                        <div class="my-3 py-3">
                            <h2 class="display-5">Carga acdémica</h2>
                            <p class="lead">Visualiza tus asignaturas</p>
                        </div>
                        <div class="shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                    </div>
                    <div class="glass1 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                        <div class="my-3 p-3">
                            <h2 class="display-5">Carga académica</h2>
                            <p class="lead">¡Ingresa tu horario en pdf y listo!</p>
                        </div>
                        <div class="shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                    </div>
                </div>

                <div class=" d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
                    <div class="glass1 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                        <div class="my-3 p-3">
                            <h2 class="display-5">Envia Alertas</h2>
                            <p class="lead">Los profesores pueden notificar a sus estudiantes</p>
                        </div>
                        <div class=" shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                    </div>
                    <div class="glass me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                        <div class="my-3 py-3">
                            <h2 class="display-5">Envia anuncios</h2>
                            <p class="lead">Los estudiantes puden enviar anuncios a las asignaturas</p>
                        </div>
                        <div class="shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                    </div>
                </div>

                <div class=" d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
                    <div class="glass me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                        <div class="my-3 p-3">
                            <h2 class="display-5">Registra tu asistencia</h2>
                            <p class="lead">Los profesores podrán solicitar un código qr para pasar asistencia</p>
                        </div>
                        <div class="s shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                    </div>
                    <div class="glass1 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                        <div class="my-3 py-3">
                            <h2 class="display-5">Registra tu asistencia</h2>
                            <p class="lead">Los estudiantes pueden escanear el qr que se proyectará y quedar presente</p>
                        </div>
                        <div class="shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                    </div>
                </div>

                <div class=" d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
                    <div class="glass1 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                        <div class="my-3 p-3">
                            <h2 class="display-5">Another headline</h2>
                            <p class="lead">And an even wittier subheading.</p>
                        </div>
                        <div class="shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                    </div>
                    <div class="glass me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                        <div class="my-3 py-3">
                            <h2 class="display-5">Another headline</h2>
                            <p class="lead">And an even wittier subheading.</p>
                        </div>
                        <div class="shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                    </div>
                </div>
            </main>





            <div class="glowing_stars">
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
    
            </div>
    
        </div>
        <script>
            const togglePassword = document
                .querySelector('#togglePassword');
            const password = document.querySelector('#password');
            togglePassword.addEventListener('click', () => {
                
                // Toggle the type attribute using
                // getAttribure() method
                const type = password
                    .getAttribute('type') === 'password' ?
                    'text' : 'password';
                password.setAttribute('type', type);
                // Toggle the eye and bi-eye icon
                let element = document.getElementById('togglePassword')
                if(element.classList.contains('bi-eye-slash')){
                    element.classList.remove('bi-eye-slash')
                    element.classList.add('bi-eye')
                }else{
                    element.classList.remove('bi-eye')
                    element.classList.add('bi-eye-slash')
                }
            });

            const toggleRePassword = document
                .querySelector('#toggle-re-password');
            const repassword = document.querySelector('#re-password');
            toggleRePassword.addEventListener('click', () => {
                const type = repassword
                    .getAttribute('type') === 'password' ?
                    'text' : 'password';
                repassword.setAttribute('type', type);

                let element = document.getElementById('toggle-re-password')
                if(element.classList.contains('bi-eye-slash')){
                    element.classList.remove('bi-eye-slash')
                    element.classList.add('bi-eye')
                }else{
                    element.classList.remove('bi-eye')
                    element.classList.add('bi-eye-slash')
                }
            });
        </script>
    <script>

        let respuesta;
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevenir el envío por defecto del formulario

            // Obtener los valores de los campos
            const email = document.getElementById('institutionalEmail').value;
            const password = document.getElementById('password').value;

            // Crear un objeto con los datos
            const formData = {
                institutionalEmail: email,
                password: password
            };

            // Enviar los datos al endpoint
            fetch('/meetagora-services/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
                .then(response => {
                    if (!response.ok) {
                        console.log("No ha sido exitosa");
                    }
                    return response.json(); // Devolver la promesa de datos JSON
                })
                .then(data => {
                    //console.log(data.responseBody);
                    let body = data.responseBody;
                    sessionStorage.setItem("nickname", body.nickname);
                    sessionStorage.setItem("token", body.token);
                    window.location.replace("home_dashboard");// Mostrar los datos obtenidos
                })
                .catch(error => {
                    console.error('Error al enviar el formulario:', error);
                });
        });

        document.getElementById("singUpForm").addEventListener('submit', function (event){
            event.preventDefault();

        })

    </script>
   <div style="height: 100px"> </div>
        <footer>
            <div id="footer-container">
                <svg viewBox="0 0 120 28">
                    <defs>

                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="2" result="blur" />
                            <feColorMatrix in="blur" mode="matrix" values="
           1 0 0 0 0
           0 1 0 0 0
           0 0 1 0 0
           0 0 0 13 -9" result="goo" />
                            <feBlend in="SourceGraphic" in2="goo" />
                        </filter>
                        <path id="wave" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
                    </defs>

                    <use id="wave3" class="wave" xlink:href="#wave" x="0" y="-2" ></use>
                    <use id="wave2" class="wave" xlink:href="#wave" x="0" y="0" ></use>

                    <g class="topball">

                    </g>
                    <g class="gooeff">
                        <circle class="drop drop1" cx="20" cy="2" r="1.8"  />
                        <circle class="drop drop2" cx="25" cy="2.5" r="1.5"  />
                        <circle class="drop drop3" cx="16" cy="2.8" r="1.2"  />
                        <use id="wave1" class="wave" xlink:href="#wave" x="0" y="1" />
                </svg>
            </div>
            <div id="text-footer">
                <ul class="menu">
                    <li class="menu__item"><a class="menu__link" href="/">Inicio</a></li>
                    <li class="menu__item"><a class="menu__link" href = "mailto: contactomeetagora@gmail.com">Contacto</a></li>

                </ul>
                <p id="mirandez" class="text-center">&copy;2023 Mirandez | All Rights Reserved</p>
            </div>
        </footer>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>

</html>