<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
    <link th:href="@{/css/asistencia.css}" rel="stylesheet">
    <link href="../static/css/asistencia.css" rel="stylesheet">
</head>
<body>
    <div id="navBar">
        <div id="left-container">
            <span><img src="../static/media/logo-strech.png" alt=""></span>
        </div>
    </div>

    <div id="infoContainer">
        <span>
            Ya estás validado, ya puedes disfrutra de meetagora
        </span>
    </div>
    
    
</body>
</html>